
# App Configuration
APP_URL=http://localhost:3000

GEMINI_API_KEY=AIzaSyDAV2nekUX4G9jcH-cDqj_hR-gerCNLk_I
VITE_GEMINI_API_KEY=AIzaSyDAV2nekUX4G9jcH-cDqj_hR-gerCNLk_I
VITE_GEMINI_MODEL_ID=gemini-2.5-flash
VITE_SUPABASE_URL=https://yieppfxafkodfgbccdkb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlpZXBwZnhhZmtvZGZnYmNjZGtiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwMjE5MzQsImV4cCI6MjA4NzU5NzkzNH0.kSDtg90kYowLh0XO5P9SQpzR9oTzOHPQ7gP4xP6ki78
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_MHrViTNzQNja2HlTvIVFPQ_gfI9SdTO
SUPABASE_URL=https://yieppfxafkodfgbccdkb.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlpZXBwZnhhZmtvZGZnYmNjZGtiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwMjE5MzQsImV4cCI6MjA4NzU5NzkzNH0.kSDtg90kYowLh0XO5P9SQpzR9oTzOHPQ7gP4xP6ki78
SUPABASE_PUBLISHABLE_KEY=sb_publishable_MHrViTNzQNja2HlTvIVFPQ_gfI9SdTO

